<h2 class="container text-center">新規質問投稿</h2>

<div class="container text-center">
  <%= form_for @question do |f| %>
    <div class="container">
      <div>
        <%= f.label :title,"質問タイトル" %>
        <%= f.text_field :title %>
      </div>
      <div>
        <%= f.label :index,"質問内容" %>
        <%= f.text_field :index %>
      </div>
      <div class="container">
        <%= f.submit %>
      </div>
    </div>
  <% end %>
  <hr>
</div>